*.pyc
*.ipynb_checkpoints*
/PATCHES_NORMAL_TRAIN_2/
/PATCHES_NORMAL_TRAIN/
/PATCHES_NORMAL_VALID/
/PATCHES_NORMAL_VALID_2/
/PATCHES_TUMOR_TRAIN/
/PATCHES_TUMOR_TRAIN_2/
/PATCHES_TUMOR_VALID/
/PATCHES_TUMOR_VALID_2/
